APP_ENV=local
DB_MODE=local

LOCAL_PORT=5098
PROD_PORT=5098

LOCAL_MONGODB_URI=mongodb://127.0.0.1:27017/snippet-entry
PROD_MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=change_this_secret
