.dashboard {
  padding:0px 20px;
}
.dashboard h3{
    font-size: 30px;
    margin-bottom: 10px;
}

.indash{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dash{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #1e293b;
    align-items: center;
    gap: 10px;
    color: white;
    padding:20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    transition: 0.3s ease;
    cursor: pointer;
}
.dash:hover{
    transform: scale(1.05);
}
.dash h4{
    margin: 0;
    font-size: 28px;
}
.dashicon{
    font-size: 60px;
}
.dash h5{
    font-size: 25px;
    margin: 0;
}
.dash p{
    font-size: 20px;
    margin: 0;
    color: gray;
}
.valid{
    font-size: 18px;
    color: #1e293b;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 450px) {
  .dashboard {
    padding: 15px;
    width: 85%;
    
  }

  .dashboard h3 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 25px;
  }

  .indash {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 15px;
    width: 100%;
  }

  .dash {
    width: 90%; 
    max-width: 340px;
    margin: 0 auto;
    padding: 18px;
    border-radius: 10px;
  }

  .dash h4 {
    font-size: 20px;
  }

  .dashicon {
    font-size: 45px;
  }

  .dash h5 {
    font-size: 18px;
  }

  .dash p {
    font-size: 15px;
  }

  .valid {
    font-size: 14px;
    margin-top: 40px;
    text-align: center;
  }
}