body{
    color: black;
}
.myheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e5e7eb;
    z-index: 30;
    position: relative;

}
.myheader h3{
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;

}
.in1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu{
    font-size: 30px;
    cursor: pointer;
}
.in-header{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.usericon{
    font-size: 40px;
    cursor: pointer;
}
.udet{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.udet p{
    margin: 0;
}

.sidebar{
    position: fixed;
    text-align: center;
    padding: 0;
    left: -350px;
    background-color: #1e293b;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    align-items: flex-start;
    transition: left 0.3s ease;
    z-index: 20;
}
.sidebar.open{
    left: 0;
}
.sidebar p{
    border-bottom: 1px solid white;
    width: 100%;
}
.adicon{
    font-size: 40px;
    cursor: pointer;
}

.myp{
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    gap: 20px;
    margin: 0;
    text-align: start;
    cursor: pointer;
    background: black;
    padding: 2px 5px;
}

.lop{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 20px;
    position: fixed;
    bottom: 0;
    text-align: start;
    cursor: pointer;
}

.dropdown{
    position: absolute; 
    top: 80px;          
    right: 30px;        
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    display: none;    
    z-index: 1000;   
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: top 0.3s ease;
    
}
.dropdown.showDropdown{
    display: block;      
}
.dop{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10; 
}

@media (max-width: 450px) {
  .myheader {
    padding: 10px 25px;
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  .in1 h3 {
    font-size: 13px;
    letter-spacing: 0;
  }

  .in-header {
    flex-direction: row-reverse;
    gap: 8px;
  }

  .usericon {
    font-size: 28px;
  }

  .sidebar {
    width: 40%;
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }

  .myp, .lop {
    font-size: 16px;
  }

  .dropdown {
    right: 15px;
    width: 140px;
  }
  .dop{
    font-size: 15px;
  }
  .udet{
    display: none;
  }
}