.Macomp{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
.comp{
    padding: 10px 20px;
}
.comp h3{
    font-size: 28px;
}
.incomp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fff;
    padding: 10px 20px;
    height: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.go{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.go h4{
    font-size: 25px;
    margin: 0;
}
.go input{
    width: 270px;
}
.mygo{
    display: flex;
    gap: 20px;
    margin: 0;
    background: #2575fc;
    padding: 10px 50px;
    color: white;
    border-radius: 6px;
}
.mygo p{
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}
.type{
    background: #2575fc;
    border-radius: 4px;
    padding: 10px 50px;
    width: 300px;
}
table {
  border-collapse: collapse;
}
th{
    background-color: #2575fc;
    color: white;
    font-size: 18px;
    padding: 5px 10px;
}
td{
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
.mybtnnns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
}
.mybtnnns button {
  margin: 0;
  font-size: 16px;
  border-radius: 4px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  line-height: 1;
  color: white;
  border: none;
}

.edit{
    background-color: blue;
}
.delete{
    background-color: red;
}
.active{
    background-color: green;
    color: white;
}
.inactive{
    background-color: black;
    color: white;
}
.report{
    background-color: green;
    color: white;
}
.search{
    color: black;
    background-color: white;
    border: 0.1px solid black;
    padding: 15px 10px;
    border-radius: 10px;
}

.pagination-container {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 1px solid #ddd;
  padding: 10px 0;
  z-index: 10;
  text-align: center;
}


.pagination {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.pagination button {
  border: none;
  background-color: #007bff;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: scale(1.05);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.pagination span {
  font-weight: 600;
  color: #333;
  margin: 0 6px;
}